NEXT_PUBLIC_API_URL=http://localhost:5001
NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=275a206c446e66a0421732e59190e02a
NEXT_PUBLIC_RAZORPAY_KEY_ID=rzp_test_Shjoou5YPKoKrH	
NEXT_PUBLIC_CELO_PRICE_INR=75
NEXT_PUBLIC_CELO_TREASURY_WALLET=0x3d45F3281106Ad94636F786dA827dD642900CAD1
NEXT_PUBLIC_CELO_RPC_URL=https://forno.celo-sepolia.celo-testnet.org
NEXT_PUBLIC_CELO_CHAIN_ID_HEX=0xaa044c
NEXT_PUBLIC_CELO_EXPLORER_URL=https://celo-sepolia.celoscan.io
