# =========================
# SERVER
# =========================
PORT=5001
NODE_ENV=development

# =========================
# FRONTEND URL
# =========================
CLIENT_URL=http://localhost:3000

# =========================
# DATABASE
# =========================
MONGODB_URI=mongodb://127.0.0.1:27017/karuverse

# =========================
# JWT AUTH
# =========================
JWT_SECRET=your_super_secret_jwt_key
JWT_EXPIRE=7d

# =========================
# GEMINI
# =========================
GEMINI_API_KEY=your_gemini_api_key


# =========================
# CLOUDINARY
# =========================
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# =========================
# CELO ALFAJORES
# =========================
CELO_NETWORK_NAME=Celo Alfajores
CELO_RPC_URL=https://alfajores-forno.celo-testnet.org
CELO_CHAIN_ID=44787
PRIVATE_KEY=your_backend_minter_private_key_without_0x
NFT_CONTRACT_ADDRESS=your_deployed_contract_address
CELO_TREASURY_WALLET=your_fallback_celo_payment_wallet
CELO_VERIFY_PAYMENTS=true

# =========================
# FRONTEND PUBLIC CONFIG
# =========================
NEXT_PUBLIC_API_URL=http://localhost:5001
NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=your_project_id
NEXT_PUBLIC_RAZORPAY_KEY_ID=your_key_id
NEXT_PUBLIC_CELO_PRICE_INR=75
NEXT_PUBLIC_CELO_TREASURY_WALLET=your_fallback_celo_payment_wallet
NEXT_PUBLIC_CELO_RPC_URL=https://alfajores-forno.celo-testnet.org
NEXT_PUBLIC_CELO_CHAIN_ID_HEX=0xaef3
NEXT_PUBLIC_CELO_EXPLORER_URL=https://alfajores.celoscan.io

# =========================
# IPFS / PINATA
# =========================
PINATA_JWT=your_pinata_jwt_token

# =========================
# PAYMENT
# =========================
RAZORPAY_KEY_ID=your_key_id
RAZORPAY_KEY_SECRET=your_secret

# =========================
# EMAIL
# =========================
EMAIL_USER=your_email@gmail.com
EMAIL_PASS=your_email_password

# =========================
# LIVEKIT
# =========================
LIVEKIT_API_KEY=your_livekit_key
LIVEKIT_API_SECRET=your_livekit_secret
LIVEKIT_URL=wss://your-livekit-url

# =========================
# REDIS (optional)
# =========================
REDIS_URL=redis://localhost:6379
